<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zephyrus.testapp.carletonenergyapp.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.LoadActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.DataActivity"
            android:label="Data" >
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.EnergyActivity"
            android:label="Energy" >
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.WindActivity"
            android:label="Wind" >
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.GraphActivity"
            android:label="Graph" >
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.zephyrus.testapp.carletonenergyapp.app.MainActivity"
            android:label="@string/app_name" >
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
